* {
  padding: 0px;
  margin: 0px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Header css */
.top_bar {
  padding: 12px;
  background: #3853d8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 2px 10px -2px black;
}

.top_bar>div>ul {
  padding: 0px;
  display: flex;
  list-style: none;
  gap: 4px;
}

.header_comp {
  position: relative;
    background: #3853d8;
    z-index: 9;
}

.Mens_sec>h1 {
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}

.menproduct {
  /* padding: 10px;
  margin-top: -77px !important; */
  max-width: 1000px;
  margin: auto;
}

.menproduct>h1 {
  text-align: center;
}

.pro__container {
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 1fr 1fr;
}

.pro__content {
  text-align: center;
  border: 1px solid #868686;
  padding: 5px;
  border-radius: 16px;
}

.pro__content img {
  max-height: 200px;
  max-width: 200px;
}

.img__sec {
  height: 230px;
  background: #fff;
  width: 100%;
}

.pro__content h5 {
  margin: 0px;
  text-align: left;
  font-size: 18px;
}

.pro__content p {
  font-size: 20px;
  text-align: left;
  margin: 0px;
  padding: 0px;
  font-weight: 600;
}

.pro__content p span {
  font-weight: 700;
  font-size: 26px;
}

.Mens_sec {
  height: 120px;
}

.search svg,
.menu svg, .header_icon li {
  color: #fff;
  font-size: 18px;
}

li.search {
  padding-right: 16px;
  border-right: 1px solid #ffffff4d;
}

li.menu {
  padding: 0px 16px;
  border-right: 1px solid #ffffff4d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu p {
  padding: 0px 4px;
  color: #fff;
  font-size: 12px;
  line-height: 14px;
}

.app_logo {
  font-weight: 800;
  color: #fff;
  font-size: 22px;
  letter-spacing: 6px;
}
.header_icon li {
  padding: 0px 10px;
  border-left: 1px solid #ffffff4d;
}
.image__box {
  z-index: 1;
  position: relative;
  text-align: center;
}
.main_section {
  background: #3853d8;
  text-align: center;
  padding: 54px;
  color: #fff;
}
.image__box img {
    width: 100%;
}
.body_section {
    display: flex;
}
.sidenbar_section {
  width: 25%;
}

/* footer css */
.footer_sec {
  color: #fff;
  background: #000;
}
.container {
    max-width: 1200px;
    margin: auto;
}.footer_section {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 2fr;
  gap: 30px;
  padding: 30px 0px;
}
ul.social_icon {
  display: flex;
  list-style: none;
  justify-content: start;
  gap: 20px;
}
.footer_section h2 {
  padding: 20px 0px;
}
.centerh1{
  text-align: center;
}
.header_icon a {
  color: #fff;
}